*::after, *::before{
    box-sizing: border-box;
}

:root{
    --cell-size:100px;
    --mark-size:calc(var(--cell-size) *.9)
}

.game-container{
    display: none;
}

body {
    background-color: #1A2B33;
    color: #46494b;
    font-family: 'Varela Round';
  }

.message {
    padding: 20px 0;
    font-size: 50px;
    text-align: center;
    color: aliceblue;
  }  

  h1{
    color: #b0e4db;
    text-align: center;
    font-size: 100px;
    border-bottom: 1px solid #4c5c68;
    margin-top: 30px;
  }
.game-board{
    width:100vw;
    height: calc(100vh - var(--cell-size));
    display: grid;
    justify-content: center;
    align-content:center ;
    justify-items: center;
    align-items: center;
    grid-template-columns:repeat(3,auto);
    margin-top: -10px;
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: #ededee;
    border: 1px solid #555;
    font-size: 100px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-family: "Comic Sans MS" ,"Chalkboard" ;
    line-height: 1.0;
}
.cell:hover {
    background-color: #d8e4e9;
  }

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
 border-top:none;
}

.cell:nth-child(3n + 1 ){
    border-left:none;
}

.cell:nth-child(3n + 3 ){
    border-right:none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8){
    border-bottom:none ;
}

.controller {
    margin-bottom: 0px;
    display: block;
  }

  @media (max-width: 768px) {
    /* Adjustments for smaller screens */
  
    :root {
      --cell-size: 80px;
      --mark-size: calc(var(--cell-size) * 0.9);
    }
  
    h1 {
      font-size: 60px;
    }
  
    .game-board {
      margin-top: -5px;
    }
  
    .cell {
      width: var(--cell-size);
      height: var(--cell-size);
      font-size: 80px;
    }
  }
  
  @media (max-width: 480px) {
    /* Adjustments for mobile screens */
  
    :root {
      --cell-size: 60px;
      --mark-size: calc(var(--cell-size) * 0.9);
    }
  
    h1 {
      font-size: 40px;
    }
  
    .game-board {
      margin-top: -2px;
    }
  
    .cell {
      width: var(--cell-size);
      height: var(--cell-size);
      font-size: 60px;
    }
  }